<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css"/>
    <script src="https://browserid.org/include.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- For local use:
    <script src="js/browseridjs"></script>
    <script src="js/jquery-1.7.2.min.js"></script>
    -->
    <title>Hello.</title>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1>Hello.</h1>
        <p>
        <% if (email) { %>
          Hello <%= email %>!
          <a class="btn" href="#" id="browserid-logout"><i class="icon-user"></i>Logout</a>
        <% } else { %>
          <a data-audience="http://reviewers.jit.su/" href="#" id="browserid-login"><img src="img/sign_in_blue.png"></a>
        <% } %>
      </div>
      <form class="form-inline"
            action="/patch"
            method="post"
            enctype="multipart/form-data">
        <div class="control-group">
          <label class="control-label" for="fileInput">Patch:</label>
          <input class="input-file" id="fileInput" type="file" name="patch">
        </div>
        <input type="submit" value="Get reviewers!">
      </form>

      <% if (email == "bwinton@mozilla.com") { %>
        <a href="/update">Update the repo data.</a>
      <% } %>
    </div>
  </body>
  <script src="browserid/js/browserid-helper.js"></script>
  <script src="js/browserid-logout.js"></script>
</html>
